.container {
  position: fixed;
  width: 100vw;
  height: fit-content;
  margin-top: 65px;
  background: rgb(32, 31, 33);
  padding: 20px 40px;
  border: 1px solid rgb(66, 66, 66);
  padding-left: 10px;
  padding-right: 10px;
  max-width: 340px;
  border-radius: 10px;
  .title {
    width: auto;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
    margin: 0;
    &:hover {
      background: rgb(54, 52, 52);
      cursor: pointer;
    }
  }
  .titleActive {
    width: auto;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px;
    background: rgb(54, 52, 52);
    border-radius: 7px;
    margin: 0;
  }
}
@media (max-width: 942px) {
  .container {
    display: none;
  }
}
