.container {
  height: auto;
  padding: 10px;
  width: 100%;
  background: rgb(32, 31, 33) !important;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  z-index: 1772;
  display: flex;
  flex-direction: column;
  .head {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .bottom {
    display: flex;
    width: 100%;
    justify-content: space-around !important;
  }
  span {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: white;
  }
  .icons {
    display: flex;
    align-items: center;
    .icon {
      width: 33px;
      height: 33px;
      margin-right: 20px;
      margin-top: 3px;
      color: white;
    }
    .iconLast {
      width: 33px;
      height: 33px;
      color: white;
      margin-right: 35px;
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
    margin-top: 17px;
    border-bottom: 2px solid rgb(52, 44, 44);
    margin-right: 55px;
    span {
      width: 150px;
      font-size: 20px;
      padding-bottom: 7px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      display: flex;
      justify-content: center;
    }
    .active {
      border-bottom: 2px solid rgb(0, 187, 244);
    }
  }
  .groupsContent {
    display: flex;
    align-items: center;
    .iconBack {
      color: rgb(0, 187, 244);
    }
  }
}
.contentInput {
  display: flex;
  width: 100vw;
  align-items: center;
  position: relative;
  right: 65px;
  input {
    display: flex;
    border: none;
    font-size: 14px;
    margin: 0 auto;
    outline: none;
    background: rgb(40, 39, 39);
    padding: 10px 20px;
    border-radius: 10px;
    width: 44vw;
    color: white;
    padding-left: 40px;
  }
  .searchIcon,
  .clearIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    z-index: 1;
  }
  .searchIcon {
    left: 23vw;
  }
  .clearIcon {
    right: 23vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

.contentInput input:not(:placeholder-shown) + .clearIcon {
  opacity: 1;
  animation: slideIn 0.3s ease-in-out;
}
.chat {
  display: flex;
  align-items: center;
  width: 91vw;
  justify-content: space-between;
}
.iconBackChat {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: 3px;
  color: rgb(0, 187, 244);
}
.chatIcon {
  color: rgb(0, 187, 244);
  font-size: 20px;
}
.userChatContent {
  display: flex;
  align-items: center;
  margin-left: 10px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .chatUser {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-family: 800 !important;
    font-size: 20px !important;
  }
  p {
    margin: 0;
    color: gray;
    font-size: 16px;
  }
}
.iconBack {
  position: relative;
  width: 33px;
  height: 33px;
  margin-right: 20px;
  margin-top: 3px;
  color: white;
}
@keyframes slideIn {
  from {
    right: -24vh;
    opacity: 0;
  }
  to {
    right: -24vh;
    opacity: 1;
  }
}
.back {
  z-index: 3333333333333333;
  display: flex;
  align-items: center;
}
