.container {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  width: 100vw;
  max-width: 500px;

  .headGroup {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0px;
    border-radius: 10px;
    background: rgb(32, 31, 33) !important;
    .groupName {
      padding: 10px;
    }
    .infoGroup {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        color: gray;
        margin: 0 10px;
      }
    }
  }
  .postsContent {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 20px 0;
    border-radius: 10px;
    background: rgb(32, 31, 33) !important;
    height: auto;
    .group {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      .topGroup {
        display: flex;
        width: 95vw;
        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
        .groupContent {
          display: flex;
          margin-left: 10px;
          flex-direction: column;
          .groupName {
            color: white;
          }
          .time {
            color: gray;
          }
        }
      }
      p {
        width: 95vw;
      }
      .postImg {
        width: 100vw;
      }
    }
  }
}
