.container {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  width: 100vw;
  max-width: 500px;

  .headGroup {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0px;
    border-radius: 10px;
    background: rgb(32, 31, 33) !important;
    padding-bottom: 20px;
    img {
      width: 40px;
      height: 40px;
    }
    .groupName {
      display: flex;
      align-items: center;
      padding: 10px;
      span {
        margin-left: 10px;
      }
    }
    .infoGroup {
      display: flex;
      font-size: smaller;
      align-items: center;
      p {
        margin: 0;
        color: gray;
        margin: 0 10px;
      }
    }
  }
  .countPosts {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 4px 0;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgb(32, 31, 33) !important;
    margin: 10px 0;
    padding: 10px 0;
    height: auto;
  }
  .postsContent {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 4px 0;
    border-radius: 10px;
    background: rgb(32, 31, 33) !important;
    &:last-child {
      padding-bottom: 45px;
    }
    height: auto;
    .group {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;

      .topGroup {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 95vw;
        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
        .groupContent {
          display: flex;
          margin-left: 10px;
          flex-direction: column;
          .groupName {
            color: white;
          }
          .time {
            color: gray;
          }
        }
        .icon {
          font-size: 20px;
          margin-right: 5px;
        }
      }
      p {
        margin-left: 5px;
        width: 100%;
      }
      .postImg {
        width: 100vw;
      }
    }
  }
  .bottomContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(172, 166, 166);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    .buttons {
      display: flex;
      align-items: center;
      width: 100%;

      .layout {
        display: flex;
        align-items: center;
        color: rgb(172, 166, 166);
        background: rgb(54, 52, 52, 0.33);
        border-radius: 20px;
        padding: 5px 10px;
        margin: 0 10px;
        transition: background-color 0.3s;
        span {
          margin-left: 5px;
        }
        &:hover {
          background: rgb(63, 63, 63);
        }
        .icon {
          font-size: 18px;
        }
      }
    }
    .view {
      display: flex;
      align-items: center;
      border-radius: 20px;
      padding: 5px 10px;
      margin: 0 10px;
      transition: background-color 0.3s;
      .iconView {
        margin-right: 5px;
      }
    }
  }
  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}
@media (max-width: 411px) {
  .bottomContainer {
    display: flex;
    align-items: center;
    width: 100vw !important;
    justify-content: space-between;
    .buttons {
      margin: 6px 0 !important;
      .layout {
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        background: rgb(54, 52, 52, 0.33);
        padding: 2px 5px !important;
        margin: 2px 7px !important;
        margin-left: 0;
        border-radius: 20px;
        transition: background-color 0.3s;
        &:hover {
          background: rgb(63, 63, 63);
        }
        .icon {
          width: 18px;
          height: 18px;
        }
        span {
          font-size: 12px !important;
          margin-left: 5px;
        }
      }
    }
    .view {
      display: flex;
      align-items: center;
      color: gray;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      margin-right: -215px;
      margin: 0;
      .iconView {
        width: 15px;
        height: 15px;
      }
      span {
        font-size: 13px;
        margin-left: 5px;
      }
    }
  }
}
