.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: fit-content;
  min-width: fit-content;
  margin-top: 12px;
  background: rgb(32, 31, 33);
  padding: 10px 0;
  border: 1px solid rgb(66, 66, 66);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-top: 375px;
  .icon {
    color: red;
    margin: 0 3px;
  }
}
@media (max-width: 942px) {
  .container {
    display: none;
  }
}
