.app {
  max-width: 1100px;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  overflow: auto;
}

.content {
  display: flex;
  justify-content: space-between;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addHistory {
  border: none;
  display: none;
}

.swiper {
  width: auto;
  max-width: 530px;
  height: 180px;
  padding: 0 10px !important;
}
.left-sidebar {
  min-width: fit-content;
  float: right;
}

.duvvv {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: fit-content;
  min-width: fit-content;
  margin-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
@media (max-width: 520px) {
  .duvvv {
    display: none;
  }
  .left-sidebar {
    display: none;
  }
}
@media (max-width: 520px) {
  .swiper {
    height: 120px !important;
    max-width: 420px;
    width: 92vw;
  }
  .addHistory {
    display: none !important;
  }
}
@media (max-width: 420px) {
  .swiper {
    height: 120px !important;
    max-width: 380px;
    margin-left: 0 !important;
  }
}
@media (max-width: 390px) {
  .swiper {
    height: 120px !important;
    max-width: 350px !important;
    margin-left: 0 !important;
  }
}
